@import url('https://fonts.googleapis.com/css2?family=Mali:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.out{
    color:orange;
    font-family: 'Dosis', sans-serif;
    margin-left: 200px;
    font-size: 39px;
}
.tx{
color: orange;
margin-top: 15px;
 
}
.in{
    color: orange;
    text-decoration: none;
    margin-top: 105px;
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
    padding-top: 14px;
    padding-left: -100px;
    padding-right: 50px;
    text-align: center ;
    font-size: 15px;
    
}
.container{
    margin-top: 100px;
}
.in:hover{
color:gray  ;

}